body {
    background:url("./assets/Background.png") no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 2px black;
}

.linkslogo {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    display: center;
    margin-right: 8px;
}

#perfil {
    margin-top: 24px;
    margin-bottom: -16px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid aliceblue;
}

#sub {
    margin-bottom: 32px;
    margin-top: -16px;
}

#resumo {
    font-style: oblique;
    margin-bottom: 32px;
}

ul li a {
    color: aliceblue;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    text-decoration: none;
    border: 1px solid aliceblue;
    border-radius: 8px;
    width: 120px;
    padding: 2px;
    transition: 400ms;
}

ul {
    margin-top: 16px;
    list-style: none;
    padding: 0;
}

ul li:last-child a {
    margin-bottom: 0;
}

ul li a:hover {
    background: rgba(0, 0, 0, 0.459);
}
